@import 'tailwindcss';

@theme {
  --font-sans: var(--font-sans), sans-serif;
  --font-display: var(--font-display), sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-body);
  background-color: var(--color-bg);
  color: var(--color-text);
  line-height: 1.6;
  overflow-y: scroll;
  letter-spacing: -0.025em;
}
